@font-face {
  font-family: 'Kingsman';
  src: url("../assets/fonts/kingsman-font/KingsmanDemo-1GVgg.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(159deg, #d399ff 28%, #9999ff 68%);
  height: 100vh;
  font-family: "Kingsman", sans-serif;
}

.body{
  display: flex;
  flex-direction: column;
}

